/* --- Fonts --- */
:root {
    --default-font: "Source Code Pro", monospace;
    --font-monospace: "Source Code Pro", monospace;
}
.cm-line,
table,
.markdown-preview-view {
    font-family: var(--default-font);
}

.theme-dark,
.theme-light {
    /* --- Fonts ---*/
    --text-normal: white;

    /* --- Accents --- */
    --interactive-accent: red;
    --text-accent: red;
    --text-accent-hover: blue;

    /* --- Scrollbars --- */
    --scrollbar-bg: red;
    --scrollbar-thumb-bg: red;
    --scrollbar-active-thumb-bg: blue;

    /* --- Background --- */
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-primary-alt: red;
    --background-secondary-alt: transparent;
    --background-modifier-cover: transparent;
    --background-modifier-border: rgba(255, 255, 255, 0.2);
}

/* --- Buttons --- */
.modal-content button {
    background-color: red;
}
.modal-content button:hover {
    background-color: blue;
}

/* --- Dropdowns --- */
.modal-content select.dropdown {
    background-color: red;
}

/* --- Switches --- */
.modal-content .checkbox-container {
    background-color: blue;
}
.modal-content div.setting-item-control > div.is-enabled {
    background-color: red;
}

/* --- Sliders --- */
input.slider {
    background-color: red;
}

/* --- Progress Bars --- */
.progress-bar-subline {
    background: blue;
}
.progress-bar-line {
    background-color: red !important;
}

/* --- Tables --- */
.markdown-rendered thead {
    background-color: yellowgreen;
}
.markdown-rendered table tbody > tr:nth-child(odd) {
    background-color: green;
}
.markdown-rendered table tbody > tr:nth-child(even) {
    background-color: red;
}
.markdown-rendered tbody tr:hover {
    background-color: blue !important;
    transition: background-color 0.2s ease;
}
.markdown-rendered tbody tr > td:hover {
    background-color: white !important;
    transition: background-color 0.2s ease;
}

/* --- Canvas --- */
/*TODO*/

/* --- Graph --- */
/*TODO*/
